services:
  postgres:
    image: "postgres:16"
    container_name: "bot-postgres"
    environment:
      TZ: "Asia/Tehran"
      POSTGRES_DB: "bot_db"
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
    deploy:
      resources:
        limits:
          cpus: '2.0'
          memory: 4G
        reservations:
          cpus: '1.0'
          memory: 2G
    stop_grace_period: 5m
    ports:
      - "5432:5432"
    stop_signal: SIGINT
    volumes:
      - "postgres:/var/lib/postgresql/data"


  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres
volumes:
  postgres:

